<nav class="shadow-md">
    <div class="mx-20 relative">
        <div class="m-auto flex justify-between">
            <div class="inline-flex py-2">
                <a href="#" class="no-underline cursor-pointer">
                    <img class="h-16" src="./assets/yavirac.png" alt="">
                </a>
            </div>
            <div class="my-auto">
                <ul class="text-sm flex items-center px-6 h-12">
                    <li><img class="w-6 ml-16" src="./assets/login.png"></li>
                    <a href="#">
                        <li class="ml-2">Ingresar</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <ul class="list-reset flex border-b">
            <li class="-mb-px mr-1">
                <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-dark font-semibold"
                    href="#">Ver</a>
            </li>
            <li class="mr-1">
                <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold"
                    href="#">Animar</a>
            </li>
            <li class="mr-1">
                <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="#">+</a>
            </li>
            <li class="mr-1">
                <a class="bg-white inline-block py-2 px-4 text-grey-light font-semibold" href="#">↑</a>
            </li>
        </ul>
    </div>

</nav>

<div class="text-gray-900 mb-10">

    <div class="flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody id="tabla">
                <tr class="border-b">
                    <th class="text-left p-3 px-5">Nombre Estudiante</th>
                    <th class="text-left p-3 px-5">Primer Parcial</th>
                </tr>

                <tr *ngFor="let item of respuesta" class="border-b hover:bg-orange-100">
                    <td class="p-3 px-5"><input type="text" class="bg-transparent">{{item.nombre}}</td>
                    <td class="p-3 px-5">
                        <div onload="getNotas()" class="flex-1">
                            <input type="text" value="Nota 1" class="bg-transparent">
                            <input type="text" value="Nota 2" class="bg-transparent">
                            <input type="text" value="Nota 3" class="bg-transparent">
                            <input type="text" value="Nota 4" class="bg-transparent">
                            <input type="text" value="Nota 5" class="bg-transparent">
                            <input type="text" value="Nota 6" class="bg-transparent">
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="border-b bg-gray-100">
                <th class="text-left p-3 px-5">Media</th>
                <td class="p-3 px-5">Valor</td>
            </tr>
            <tr class="border-b bg-gray-100">
                <th class="text-left p-3 px-5">Mediana</th>
                <td class="p-3 px-5">Valor</td>
            </tr>
        </table>
    </div>
    <div>
        <button class='bg-blue-500 text-white p-2 rounded text-base font-bold'>Modal Gráfico</button>
    </div>
<br><br>
    <div>
        <h1>Formulario</h1><br>
        <form class="w-full max-w-lg">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">
                        Nombre
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="Jane">
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">
                        Cèedula/pasaporte
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-last-name" type="text" placeholder="Doe">
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">
                        Telefono
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-last-name" type="text" placeholder="Doe">
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">
                        Correo
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-last-name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                        Malla
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-city" type="text" placeholder="Albuquerque">
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                        Asistencia
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-zip" type="text" placeholder="90210">
                </div>
            </div>
        </form>
    </div>
</div>